@import url(http://fonts.googleapis.com/css?family=Roboto:500,700,400);
 
@import url(http://fonts.googleapis.com/css?family=Lovers+Quarrel);
 
 body {
 background: rgba(81, 141, 69, 0.1) url("http://www.transparenttextures.com/patterns/wall-4-light.png");
}
* {
	margin: 0;
	padding: 0; }
 
 
.arrow-right {
	-moz-background-size: 16px 16px;
	-moz-transition:background-position 0.2s  ease-out;
	-o-background-size: 16px 16px;
	-o-transition:background-position 0.2s  ease-out;
	-webkit-background-size: 16px 16px;
	-webkit-transition:background-position 0.2s  ease-out;
	background-image: url("../img/icons/right_arrow.png");
	background-position: 160px;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	transition:background-position 0.2s ease-out ; }
 
	.arrow-right:hover { background-position: 120px; }
 
article {
	display: inline-block;
	float: left;
	margin: 5px 1px 5px 1px;
	padding: 10px;
	width: 20%; }
 
	article h3 {
		margin: 0px;
		padding: 0 0 0 10px;
		text-align: center; }
 
 
#container {
	*padding: 0 10px 0 10px;
	font-family: "Roboto";
	font-size: 14px;
	margin: 0 auto;
	min-width: 320px; }
 
 
#copy {
	display: inline-block;
	float: left; }
 
 
.flag img {
	-moz-transition: 0.4s all;
	-o-transition: 0.4s all;
	-webkit-transition: 0.4s all;
	display: inline-block;
	height: 16px;
	left: -44px;
	position: relative;
	top: -18px;
	transition: 0.4s all;
	width: 16px; }
 
	.flag img:hover {
		-moz-transform: rotate(-20deg);
		-ms-transform: rotate(-20deg);
		-o-transform: rotate(-20deg);
		-webkit-transform: rotate(-20deg);
		height: 20px;
		transform: rotate(-20deg);
		width: 20px; }
 
 
footer {
	background-color: #A8C350;
	clear: both;
	padding: 2px 10px 0px 2px; }
 
	footer ul li { }
 
 
#footer-links {
	display: inline-block;
	height: 70px;
	width: 65%; }
 
 
header {  background: url("../img/pictures/green_cup.png");
}
 
	header nav {
		font-family: "Lovers Quarrel";
		font-size: 32px;
		text-align: center;
		width: 0 auto; }
 
		header nav ul {
			display: block;
			padding: 0;
			width: 0 auto; }
 
	header h1 {
		display: inline-block;
		font-family: "Lovers Quarrel";
		font-size: 48px;
		margin: 15px 5px 5px 5px; }
 
	header ul li {
		display: inline-block;
		text-decoration: none; }
 
.hotelData span {
	display: block;
	font-size: 12px;
	padding: 0 0 0 10px;
	text-align: center; }
 
.hotelPreview {
	height: 100%;
	text-align: center;}
 
	.hotelPreview button {
		margin-left: 10px;
		padding: 3px 30px; }
 
	.hotelPreview img {
		-moz-box-shadow: 1px 1px 5px #999;
		-moz-transition: all 0.3s;
		-o-transition: all 0.3s;
		-webkit-box-shadow: 1px 1px 5px #999;
		-webkit-transition: all 0.3s;
		border: solid 1px #CCC;
		box-shadow: 1px 1px 5px #999;
		height: 100%;
		padding: 5px;
		transition: all 0.3s;
		width: 100%; }
 
		.hotelPreview img:hover {
			-moz-box-shadow: 1px 1px 5px #666;
			-webkit-box-shadow: 1px 1px 5px #666;
			box-shadow: 1px 1px 5px #666; }
 
 
.imgHolder {
	min-height: 120px;
	min-width: 120px;
	width: 100%;
	height: 100%;}
 
 
#languageBar {
	float: right;
	font-size: 18px;
	margin-top: 16px;
	padding-right: 30px;
	padding-top: 15px; }
 
	#languageBar ul { padding: 0; }
 
		#languageBar ul li { padding: 0px 1px; }
 
			#languageBar ul li.flag {
				display: inline-block;
				position: absolute;
				text-align: center; }
 
			#languageBar ul li a {
				color: black;
				text-decoration: none; }
 
 
#logo img {
	height: 55px;
	left: 146px;
	position: absolute;
	top: 10px;
	width: 65px;
	filter: brightness(110%);
}
 
 
nav { 
	background-image: url("../img/pictures/pattern.png");
	background-color: #9cb369;
	border-radius: 4px;
	border: 1px solid #839b4e;
	text-align: center;
	width: 100%;
}
 
nav ul {
	text-align: center;
}
 
	nav ul li {
		-moz-transition: background-color 0.2s;
		-o-transition: background-color 0.2s;
		-webkit-transition: background-color 0.2s;
		transition: background-color 0.2s;
		border-right: 1px solid #b2c58b;}
  nav ul li:nth-child(1) {
		 border-left: 1px solid #b2c58b;
 	}
		nav ul li:hover { 
  		text-shadow: 0 1px 2px #708543;
		  background-image: url("../img/pictures/pattern.png");
			background-color: #7B9148;	
		}
 
		nav ul li a {
			font-family: "Roboto";
			font-size: 16px;
			color: white;
			padding: 5px 30px;
			text-decoration: none; }

		nav ul li:hover a {
			color: black;
		}
 
 
#panel {
	background: url("../img/pictures/main4.png");
	-moz-background-size: 100% 290px;
	-o-background-size: 100% 290px;
	-webkit-background-size: 100% 290px;
	background-repeat: no-repeat;
	background-size: 100% 290px;
	display: inline-block;
	height: 290px;
	width: 100%; }
 
 
#searchBar {
	-moz-border-radius :15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	background: rgba(255,255,255,0.2);
	border-radius: 15px;
	border: 2px solid white;
	display: inline-block;
	margin: 15px 0px 0px 5px;
	min-width: 250px;
	padding: 3px;
	position: relative;
	text-align: center;
	top: 170px;
	width: 95%; }
 
	#searchBar input {
		border: 0px;
		text-align: center;
		width: 95%; }
 
 
section { padding-top: 20px; }
 
 
#socialBar { text-align: right; }
 
 
.socialIcon {
	display: inline-block;
	margin-right: 8px;
	width: 50px; }
 
	.socialIcon img {
		-moz-border-radius: 40px;
		-moz-transition: 0.5s all ease-in;
		-o-transition: 0.5s all ease-in;
		-webkit-border-radius: 40px;
		-webkit-transition: 0.5s all ease-in;
		border-radius: 40px;
		border: 1px solid #A8C350;
		height: 40px;
		margin: 2px;
		transition: 0.5s all ease-in;
		width: 40px; }
 
		.socialIcon img:hover {
			-moz-transform: rotate(360deg);
			-ms-transform: rotate(360deg);
			-o-transform: rotate(360deg);
			-webkit-transform: rotate(360deg);
			transform: rotate(360deg); }

div.button {
	display: inline-block;
	text-align: center;
}

.animate
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
}

.action-button
{
	position: relative;
	padding: 1px 45px;
	top: 8px;
  left: 5px;
  float: left;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	font-size: 20px;
	color: #FFF;
	text-decoration: none;
}

.blue
{
	background-color: #3498DB;
	border-bottom: 5px solid #2980B9;
	text-shadow: 0px -2px #2980B9;
}

.red
{
	background-color: #E74C3C;
	border-bottom: 5px solid #BD3E31;
	text-shadow: 0px -2px #BD3E31;
}

.green
{
	background-color: #82BF56;
	border-bottom: 5px solid #669644;
	text-shadow: 0px -2px #669644;
}

.yellow
{
	background-color: #F2CF66;
	border-bottom: 5px solid #D1B358;
	text-shadow: 0px -2px #D1B358;
}

.action-button:active
{
	transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
	border-bottom: 1px solid;
}

.action-button.green:hover {
	background-color: #5C8F36;
	border-bottom: 5px solid #385821;
	text-shadow: 0px -2px #385821;
}