@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,300|Lato:100);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);

* {
  padding: 0;
  margin: 0;}

#container {
  margin: 0 auto;
  min-width: 280px;
  width: 100%; }

header #bg-img {
  max-height: 100%;
  height: auto; }
  header #bg-img img {
    display: block;
    background-color: #666;
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%; }

nav {
  display: block;
  position: fixed;
  width: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 2;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  color: black;
  padding: 5px 15px 0px 0px;
}

/* ============================================================
  SECTIONS
============================================================ */
.module:last-child {
  margin-bottom: 0; }

.module.content {
  padding: 40px 0; }

.module.parallax {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 400px;}

.module.parallax #container {
  color: #2222FF;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

#description {
  position: relative;
  top: 0px;
  z-index: 0;
  transition: all 0.3s;
}

@-moz-keyframes introShake {
  0% {
      opacity: 0;
      transform: translateY(-2000px);
  }
  60% {
      opacity: 1;
      transform: translateY(30px);
  }
  80% {
      transform: translateY(-10px);
  }
  100% {
      transform: translateY(0px);
  }
}

@-webkit-keyframes introShake {
  0% {
      -webkit-opacity: 0;
      -webkit-transform: translateY(-2000px);
  }
  60% {
      -webkit-opacity: 1;
      -webkit-transform: translateY(30px);
  }
  80% {
      -webkit-transform: translateY(-10px);
  }
  100% {
      -webkit-transform: translateY(0px);
  }
}

.container {
  position: relative;
  top: -20px;
  animation: introShake;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation: introShake;
  -webkit-animation-delay: 1s;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}



#description h3 {
  color: white;
  font-family: "PT Sans Narrow";
  font-size: 32px;
  text-align: center;
}

#description h4 {
  color: white;
  margin: 5px 0px 10px 0px;
  font-size: 18px;
  text-align: center;
  font-family: "Lato";
  font-weight: 100; 
  transition: all 0.6s;
}


#profile-pic img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 110px 0px 0px 0px;
}

section {
  border: 1px solid black;
  padding: 10px;
}

main {
  font-family: 'Open Sans';
}

@media all and (min-width: 550px) {
  #about-me article {
    display: inline-block;
    width: 49%;
    vertical-align: top;
  }
}

#about-me article .title {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
  border-bottom: 1px solid black; 
}

article div.content {
  padding: 5px;
  text-align: justify;
}

.quotes {
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 5px;
  font-family: 'Open Sans';
  font-weight: 300;
}

.image {
  border: 1px solid black; 
}

.demo-1 {
  background: url("../img/demo/1.jpg") center;
  
}

#works {
  text-align: center;
}

#works article {
  display: inline-block;
  max-width: 280px;
  margin: 5px auto;
}

.image .image-content {
  opacity: 0;
  background-color: rgba(255,255,255,1);
  transition: all 0.4s;
}

.image:hover .image-content {
  opacity: 1;
  background-color: rgba(255,255,255,0.6);
}

.btn-content {
 text-align: center;
}

.module.parallax-header {
  background-image: url("../img/backgrounds/header5.jpg");
  font-size: 32px; }

@media all and (min-width: 600px) {
  module h2 {
    font-size: 42px; }

  .module p {
    font-size: 20px; }

  .module.parallax h1 {
    font-size: 96px; } }
@media all and (min-width: 960px) {
  .module.parallax h1 {
    font-size: 46px;
    margin: 0; } }

#contactPanel {
  display: block;
  text-align: center;
}

#contactPanel > div{
  display: inline-block;
}

#contact form {
  text-align: center;
  width: 90%;
  max-width: 460px;
  min-width: 150px;
  margin: 0 auto;
}

#contact input, #contact textarea{
  font-size: 14px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px solid #BFBFBF;
  padding: 10px 5px 10px 25px;
}

#contact textarea {
  height: 120px;
  resize: none;
}

#contact input:required {
  border: 1px solid #BFBFBF;
}

#contact form button {
 
}

#iconPanel {
  display: inline-block;
  text-align: center;
  width: 100%;
}

#iconPanel ul{
  display: inline-block;
  
}

#iconPanel ul li{
  display: inline-block;
  padding: 0px 5px;
}

#iconPanel ul li a {
  text-decoration: none;
  display: inline-block;
}

#iconPanel ul li img {
   width: 24px;
   height: 24px;
}

#about-me {
  color: #444948;
}

#about-me b {
  color: #214A64;
}

main {
  background-image: url("../img/backgrounds/fleck-white.png");
}

.knowhow {
  padding: 20px 0px;
  width: 100%;
}

.knowhow h4 {
  text-align: center;
}

#study {
    background-image: url("../img/icons/study.png");
}

#study, #languages {
  height: 200px;
  width: 200px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}

#languages {
  background-image: url("../img/icons/talk.png");
}

.image-content {
  opacity: 0;
  background-color: rgba(255,255,255,1);
}

#study:hover .image-content, #languages:hover .image-content {
  opacity: 1;
  background-color: rgba(255,255,255,0.2);
  color: black;
  font-size: 24px;
  height: 200px;
  width: 200px;
  text-align: center;
  padding-top: 80px;
  border-radius: 160px;
}

.niceList { 
  width: 100%; 
}
.niceList ol {
  padding-left: 14px;
  font-style:italic; 
  font-family:Georgia, Times, serif; font-size:16px;
  color: #444948; 
}
.niceList ol li {
}
.niceList ol li p { 
  padding:8px;
  font-style:normal;
  font-family:Arial;
  font-size:13px;
  color: black;
  border-left: 1px solid #999;
  color: #444948;
}
.niceList ol li p em { display:block; }

.bar { 
	height: 10px;
	background: grey;
	border-radius: 7px;
	padding: 3px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.2);
}

.bar > span {
  display: block;
  height: 100%;
  border-radius: 5px;
  background-color: #649EF7; 
  
}
#about-me table {
  text-align: center;  
  font-size: 14px;
  margin: 0 auto;
}

 #about-me td {
  border: 1px solid #D1D1D1;
  border-spacing: 0;
}

#about-me table th, #about-me table td {
  padding: 6px;
}

#english-icon {
    background-image: url("../img/icons/uk.png");
}

#french-icon {
    background-image: url("../img/icons/France.png");
}

#english-icon, #french-icon {
  background-position: center;
  height: 48px;
  width: 48px;
}

